body{
    background-color: #424242;
  }
.centered {
  position: absolute; /* or absolute */
  top: 80%;
  left: 50%;
  margin: auto;
}

.centered2 {
  position: absolute; /* or absolute */
  top: 90%;
  left: 43%;
  margin: auto;
}

label {
color: white;
font-family: 'Lato', sans-serif;
display: block;
width: 140px;
text-align: center;
font-size: 14px;
float: left;
}

 /*basic style*/
  .button{   
    background-color: #15817E;
    border: none;
    border-radius: 2px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 5px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }

  /*effect*/
  .button {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .button:hover, .button:focus, .button:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  /*changes color with hover*/
  .button:hover,
  .button:active {
    border:1px solid white;
  }edit, 0, "Hello, World!")


.center {
    margin: auto;
    width: 50%;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 400;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
    box-shadow: 1.6px 1.6px 1.9px #000000, 0px 0px 1.6px #0d0d0d;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: rgba(131, 103, 183, 0.97);
    margin-top: -4px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 9000;
  background-color: #000;
  display: none;
}
 
#boxes .window {
  position: absolute;
  left: 0;
  top: 0;
  width: 440px;
  height: 200px;
  display: none;
  z-index: 9999;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}
 
#boxes #dialog {
  width: 350px;
  height: 210px;
  padding: 10px;
  background-color: #ffffff;
  font-family: 'Segoe UI Light', sans-serif;
  font-size: 15pt;
}
 
#popupfoot {
  font-size: 16pt;
  position: absolute;
  bottom: 0px;
  /*width: 100px;*/
  left: 43%;
  bottom: 5%;
}

